<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
</head>

<body>
    <h2>Edit Profile</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <label for="id_bio">Bio:</label>
        {{ profile_form.bio }}

        <label for="id_profile_picture">Profile Picture:</label>
        {{ picture_form.profile_picture }}

        <button type="submit">Save Changes</button>
    </form>

    <a href="{% url 'profile_view' %}"><button>Cancel</button></a>
</body>

</html>